<!DOCTYPE html>
<html lang="en">
<head>


</head>
<body>

<!-- preloader start -->
<div class="preloader">
    <div class="preloader-box">
        <div>S</div>
        <div>M</div>
        <div>E</div>
        <div></div>
        <div>C</div>
        <div>U</div>
        <div>B</div>
        <div>E</div>
    </div>
</div>
<!-- preloader end -->

<!-- signin-area start -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bdr-radius">
            <div class="signin-wrapper">
                <div class="signin-wrapper-header text-center">
                    <div class="logo"><img src="assets/images/elements/logo-icon.png" alt="image"></div>
                    <h3 class="title">Login with</h3>
                    <p>Welcome back, please sign in below</p>
                </div>
                <form class="signin-form">
                    <div class="form-group">
                        <label for="signinEmail">Email*</label>
                        <input type="email" class="form-control" id="signinEmail" placeholder="Enter your Email">
                    </div>
                    <div class="form-group">
                        <label for="signinPass">Password*</label>
                        <input type="password" class="form-control" id="signinPass" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <div class="custom-checkbox">
                            <input type="checkbox" name="id-1" id="id-1" checked>
                            <label for="id-1">Remember Password</label>
                            <span class="checkbox"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-hover">Log In</button>
                </form>
                <div class="signin-wrapper-footer">
                    <div class="divider"><span>or</span></div>
                    <button class="btn btn-light btn-sm"><img src="assets/images/buttons/asanimza.png" width="80"/>
                        <span class="font-weight-bold text-right"> Login with Asan Imza</span></button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- signin-area end -->


<!--  header-section start  -->
<header class="header-section">
    <div class="header-bottom">
        <div class="container">
            <nav class="navbar navbar-expand-xl">
                <a class="site-logo site-title" href="home-one.html"><img src="assets/images/mylogo.png"
                                                                          alt="site-logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="menu-toggle"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav main-menu ml-auto">
                        <li><a href="#">Home</a>
                        </li>
                        <li><a href="#about">why us</a></li>
                        <li><a href="#features">Features</a></li>
                        <li><a href="#list-entrepreneur">Entrepreneurs</a></li>
                        <li><a href="#investors">Investors</a></li>
                    </ul>
                    <div class="header-join-part">
                        <button type="button" class="btn btn-primary btn-hover" data-toggle="modal"
                                data-target="#signInModal">sign in
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </div><!-- header-bottom end -->
</header>
<!--  header-section end  -->

<!-- banner-section start -->
<section class="banner-section">
    <div class="banner-elements-image anim-bounce"><img src="assets/images/elements/banner.png" alt="image"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-8">
                <div class="banner-content-area">
                    <div class="banner-content">
                        <span class="banner-sub-title">EASY WAY TO MAKE PROFIT</span>
                      <h2 class="banner-title">MANY WAYS, ONE SOLUTION</h2>
                      <p>
                        Use the opportunities of new technologies, without active intervention,create passive income that will ensure your future.
                      </p>
                    </div>
                    <div class="banner-btn-area">
                        <a href="#list-entrepreneur" class="btn btn-primary btn-round">get started now!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- banner-section end -->

<!-- counter-section start -->
<div class="counter-sections">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="counter-area d-flex justify-content-between">
                    <div class="counter-item">
                        <div class="counter-icon">
                            <img src="assets/images/icons/counter/1.svg" alt="icon">
                        </div>
                        <div class="counter-content">
                            <span>$</span>
                            <span class="counter">100</span>
                            <span>k</span>
                            <span class="caption">Invested in Pitches</span>
                        </div>
                    </div><!-- counter-item end -->
                    <div class="counter-item">
                        <div class="counter-icon">
                            <img src="assets/images/icons/counter/2.svg" alt="icon">
                        </div>
                        <div class="counter-content">
                            <span>$</span>
                            <span class="counter">634</span>
                            <span>k</span>
                            <span class="caption">Registered Members</span>
                        </div>
                    </div><!-- counter-item end -->
                    <div class="counter-item">
                        <div class="counter-icon">
                            <img src="assets/images/icons/counter/3.svg" alt="icon">
                        </div>
                        <div class="counter-content">
                            <span>$</span>
                            <span class="counter">14</span>
                            <span>k</span>
                            <span class="caption">Average Investment</span>
                        </div>
                    </div><!-- counter-item end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- counter-section end -->

<!-- choose-us-section start -->
<section class="choose-us-section pt-120 pb-120 bg_img" data-background="assets/images/elements/choose-us-bg-shape.png" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header text-center">
                    <span class="section-subtitle">Boost your Money</span>
                    <h2 class="section-title">Why Should Choose Us</h2>
                    <p>Our service gives you better result and savings, as per your requirement and you can manage youer
                        investments from anywhere either form home or work place,any time.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-lg-12 p-0">
                <div class="choose-us-slider owl-carousel">
                    <div class="choose-item text-center">
                        <div class="choose-thumb">
                            <img src="assets/images/choose-us/1.png" alt="image">
                        </div>
                        <div class="choose-content">
                            <h3 class="title">Fast Profit </h3>
                            <p>We're talking about ways you can make money fast.Invest money and get reward, bonus and
                                profit</p>
                            <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div><!-- choose-item end -->
                    <div class="choose-item text-center">
                        <div class="choose-thumb">
                            <img src="assets/images/choose-us/2.png" alt="image">
                        </div>
                        <div class="choose-content">
                            <h3 class="title">Instant Withdraw</h3>
                            <p>We’re extremely excited to launch instant withdrawals.you can deposit and withdraw funds
                                in just a few clicks.</p>
                            <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div><!-- choose-item end -->
                    <div class="choose-item text-center">
                        <div class="choose-thumb">
                            <img src="assets/images/choose-us/4.png" alt="image">
                        </div>
                        <div class="choose-content">
                            <h3 class="title">DDoS Protection</h3>
                            <p>To protect your resources from modern DDoS attacks is through a multi-layer deployment of
                                purpose-built DDoS mitigation </p>
                            <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div><!-- choose-item end -->
                    <div class="choose-item text-center">
                        <div class="choose-thumb">
                            <img src="assets/images/choose-us/5.png" alt="image">
                        </div>
                        <div class="choose-content">
                            <h3 class="title">24/7 Support</h3>
                            <p>Our Technical Support team is available for any questions.Our multilingual 24/7 support
                                allows to keep in touch.</p>
                            <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div><!-- choose-item end -->
                    <div class="choose-item text-center">
                        <div class="choose-thumb">
                            <img src="assets/images/choose-us/1.png" alt="image">
                        </div>
                        <div class="choose-content">
                            <h3 class="title">Fast Profit </h3>
                            <p>We're talking about ways you can make money fast.Invest money and get reward, bonus and
                                profit</p>
                            <a href="#0" class="read-more-btn">read more<i class="fa fa-long-arrow-right"></i></a>
                        </div>
                    </div><!-- choose-item end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- choose-us-section end -->

<!-- features-section start -->
<section class="features-section pt-120 pb-120 section-md-bg" id="features">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header text-center">
                    <span class="section-subtitle">Our Amazing Features</span>
                    <h2 class="section-title">Investing For Everyone</h2>
                    <p>We are worldwide investment company who are committed to the principle of revenue maximization
                        and reduction of the financial risks at investing.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4">
                <div class="feature-thumb anim-bounce">
                    <img src="assets/images/elements/features.png" alt="image">
                </div>
            </div>
            <div class="col-xl-4 offset-md-1 feature-item-wrapper">
                <div class="feature-item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.5s">
                    <div class="icon">
                        <div class="icon-inner">
                            <img src="assets/images/icons/investment/2.svg" alt="icon">
                        </div>
                    </div>
                    <div class="content">
                        <h3 class="title">Investing Made Easy</h3>
                        <p>Choose from three simple starting option - cautious , balanced & adventurous.We’ll take care
                            of the rest!</p>
                        <a href="#0">read more</a>
                    </div>
                </div><!-- feature-item end -->
                <div class="feature-item wow fadeIn" data-wow-duration="2s" data-wow-delay="0.7s">
                    <div class="icon">
                        <div class="icon-inner">
                            <img src="assets/images/icons/investment/3.svg" alt="icon">
                        </div>
                    </div>
                    <div class="content">
                        <h3 class="title">Build Your Porfolio</h3>
                        <p>We’ll help you pick an investment strategy that reflects your interests,beliefs and
                            goals.</p>
                        <a href="#0">explore our investing </a>
                    </div>
                </div><!-- feature-item end -->
            </div>
        </div>
    </div>
</section>
<!-- features-section end -->

<!-- invest-section start -->
<section class="invest-section pt-120 pb-120 bg_img" data-background="assets/images/bg-1.png" id="list-entrepreneur">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section-header text-center text-white">
                    <span class="section-subtitle">The smarter way to invest!</span>
                    <h2 class="section-title">Start investing! It’s never too late</h2>
                    <p>Make sound investment decisions with the help of our research & analytical assets.The minimum
                        deposit is $5, and maximum is $100,000. We pay 7 days per week. You may make additional deposits
                        at any time. All our payments are instant payments.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="invest-table-area wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">
                    <table>
                        <thead>
                        <tr>
                            <th>share</th>
                            <th>price</th>
                            <th>growth</th>
                            <th>daily dividend</th>
                            <th>investors</th>
                            <th>time remainig</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <div class="person-details">
                                    <div class="thumb"><img src="assets/images/invest/1.png" alt="image"></div>
                                    <div class="content">
                                        <span class="name">Forex Stable Income</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="price">$10.50</span>
                            </td>
                            <td>
                                <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                            </td>
                            <td>
                                <span class="daily-dividend">$0.9</span>
                            </td>
                            <td>
                                <span class="investors-amount">718</span>
                            </td>
                            <td>
                                <span class="remaining-time">21 DAYS</span>
                                <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="person-details">
                                    <div class="thumb"><img src="assets/images/invest/2.png" alt="image"></div>
                                    <div class="content">
                                        <span class="name">Pavimentadora Real Ltd</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="price">$10.50</span>
                            </td>
                            <td>
                                <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                            </td>
                            <td>
                                <span class="daily-dividend">$0.9</span>
                            </td>
                            <td>
                                <span class="investors-amount">718</span>
                            </td>
                            <td>
                                <span class="remaining-time">21 DAYS</span>
                                <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="person-details">
                                    <div class="thumb"><img src="assets/images/invest/3.png" alt="image"></div>
                                    <div class="content">
                                        <span class="name">Ethereum Farm</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="price">$10.50</span>
                            </td>
                            <td>
                                <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                            </td>
                            <td>
                                <span class="daily-dividend">$0.9</span>
                            </td>
                            <td>
                                <span class="investors-amount">718</span>
                            </td>
                            <td>
                                <span class="remaining-time">21 DAYS</span>
                                <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="person-details">
                                    <div class="thumb"><img src="assets/images/invest/4.png" alt="image"></div>
                                    <div class="content">
                                        <span class="name">Legacinet Works</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="price">$10.50</span>
                            </td>
                            <td>
                                <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                            </td>
                            <td>
                                <span class="daily-dividend">$0.9</span>
                            </td>
                            <td>
                                <span class="investors-amount">718</span>
                            </td>
                            <td>
                                <span class="remaining-time">21 DAYS</span>
                                <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="person-details">
                                    <div class="thumb"><img src="assets/images/invest/2.png" alt="image"></div>
                                    <div class="content">
                                        <span class="name">Healthcare Tech</span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <span class="price">$10.50</span>
                            </td>
                            <td>
                                <span class="growth">122% <i class="fa fa-arrow-up"></i></span>
                            </td>
                            <td>
                                <span class="daily-dividend">$0.9</span>
                            </td>
                            <td>
                                <span class="investors-amount">718</span>
                            </td>
                            <td>
                                <span class="remaining-time">21 DAYS</span>
                                <a href="#0" class="btn btn-primary btn-round pull-right">invest now</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="btn-area mt-50 text-center">
                    <a href="#0" class="btn btn-primary btn-hover text-small">browse more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- invest-section end -->

<!-- offer-section start -->
<section class="offer-section pt-120 pb-120 bg_img" data-background="assets/images/offer-bg.png">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header text-center wow fadeIn" data-wow-duration="0.8s" data-wow-delay="0.5s">
                    <span class="section-subtitle">Our mission is to help our User</span>
                    <h2 class="section-title">To Maximize Money</h2>
                    <a href="#0" class="btn btn-primary btn-hover mt-30">what we offer</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="offer-slider owl-carousel">
                    <div class="offer-item">
                        <div class="icon">
                            <img src="assets/images/icons/offer/2.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h3 class="title">One - Tap Invest</h3>
                            <p>Invest without net baning/debit card.</p>
                            <a href="#0" class="read-more-btn">read more<i class="icofont-long-arrow-right"></i></a>
                        </div>
                    </div><!-- offer-item end -->
                    <div class="offer-item">
                        <div class="icon">
                            <img src="assets/images/icons/offer/3.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h3 class="title">invest & saving</h3>
                            <p>Grow your saving by investing as little as $5</p>
                            <a href="#0" class="read-more-btn">read more<i class="icofont-long-arrow-right"></i></a>
                        </div>
                    </div><!-- offer-item end -->
                    <div class="offer-item">
                        <div class="icon">
                            <img src="assets/images/icons/offer/1.svg" alt="icon">
                        </div>
                        <div class="content">
                            <h3 class="title">smart deposit</h3>
                            <p>Best way t o put your idle money to work.</p>
                            <a href="#0" class="read-more-btn">read more<i class="icofont-long-arrow-right"></i></a>
                        </div>
                    </div><!-- offer-item end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- offer-section end -->
<!-- latest-transaction-section start -->
<section class="latest-transaction-section pt-120 pb-120" id="investors">
    <div class="elemets-bg" data-paroller-factor="-0.2" data-paroller-type="foreground"
         data-paroller-direction="vertical"><img src="assets/images/withdraw-bg.png" alt=""></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-header text-center">
                    <span class="section-subtitle">Latest Transaction</span>
                    <h2 class="section-title">Withdrawals</h2>
                    <p>Our goal is to simplify investing so that anyone can be an investor.Withthis in mind, we
                        hand-pick the investments we offer on our platform.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs justify-content-center tab-nav" id="transactionTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="daily-tab" data-toggle="tab" href="#daily" role="tab"
                           aria-controls="daily" aria-selected="true">Daily</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="monthly-tab" data-toggle="tab" href="#monthly" role="tab"
                           aria-controls="monthly" aria-selected="false">Monthly</a>
                    </li>
                </ul>
                <div class="tab-content" id="transactionTabContent">
                    <div class="tab-pane fade show active" id="daily" role="tabpanel" aria-labelledby="daily-tab">
                        <div class="withdraw-table-area">
                            <table>
                                <thead>
                                <tr>
                                    <th>name</th>
                                    <th>price</th>
                                    <th>Daily Dividend</th>
                                    <th>AMOUNTs</th>
                                    <th>Deposit by</th>
                                    <th>Currency</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td data-head="name">
                                        <div class="person-details">
                                            <div class="thumb"><img src="assets/images/withdraw/t-1.png" alt="image">
                                            </div>
                                            <div class="content">
                                                <span class="name">Jim Adams</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-head="price">
                                        <span class="price">$10.50</span>
                                    </td>
                                    <td data-head="daily dividend">
                                        <span class="daily-dividend">$10.50</span>
                                    </td>
                                    <td data-head="amounts">
                                        <span class="amount">$0.9</span>
                                    </td>
                                    <td data-head="Deposit by">
                                        <span class="days">21 days</span>
                                    </td>
                                    <td data-head="Currency">
                                        <img src="assets/images/icons/withdraw/bitcoin.png" alt="icon">
                                    </td>
                                </tr>
                                <tr>
                                    <td data-head="name">
                                        <div class="person-details">
                                            <div class="thumb"><img src="assets/images/withdraw/t-2.png" alt="image">
                                            </div>
                                            <div class="content">
                                                <span class="name">Willie Barton </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-head="price">
                                        <span class="price">$10.50</span>
                                    </td>
                                    <td data-head="daily dividend">
                                        <span class="daily-dividend">$10.50</span>
                                    </td>
                                    <td data-head="amounts">
                                        <span class="amount">$0.9</span>
                                    </td>
                                    <td data-head="Deposit by">
                                        <span class="days">21 days</span>
                                    </td>
                                    <td data-head="Currency">
                                        <img src="assets/images/icons/withdraw/fire.png" alt="icon">
                                    </td>
                                </tr>
                                <tr>
                                    <td data-head="name">
                                        <div class="person-details">
                                            <div class="thumb"><img src="assets/images/withdraw/t-3.png" alt="image">
                                            </div>
                                            <div class="content">
                                                <span class="name">Kim Mccoy </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-head="price">
                                        <span class="price">$10.50</span>
                                    </td>
                                    <td data-head="daily dividend">
                                        <span class="daily-dividend">$10.50</span>
                                    </td>
                                    <td data-head="amounts">
                                        <span class="amount">$0.9</span>
                                    </td>
                                    <td data-head="Deposit by">
                                        <span class="days">21 days</span>
                                    </td>
                                    <td data-head="Currency">
                                        <img src="assets/images/icons/withdraw/bitcoin.png" alt="icon">
                                    </td>
                                </tr>
                                <tr>
                                    <td data-head="name">
                                        <div class="person-details">
                                            <div class="thumb"><img src="assets/images/withdraw/t-4.png" alt="image">
                                            </div>
                                            <div class="content">
                                                <span class="name">Sheryl Tran </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-head="price">
                                        <span class="price">$10.50</span>
                                    </td>
                                    <td data-head="daily dividend">
                                        <span class="daily-dividend">$10.50</span>
                                    </td>
                                    <td data-head="amounts">
                                        <span class="amount">$0.9</span>
                                    </td>
                                    <td data-head="Deposit by">
                                        <span class="days">21 days</span>
                                    </td>
                                    <td data-head="Currency">
                                        <img src="assets/images/icons/withdraw/fan.png" alt="icon">
                                    </td>
                                </tr>
                                <tr>
                                    <td data-head="name">
                                        <div class="person-details">
                                            <div class="thumb"><img src="assets/images/withdraw/t-5.png" alt="image">
                                            </div>
                                            <div class="content">
                                                <span class="name">Jim Adams</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-head="price">
                                        <span class="price">$10.50</span>
                                    </td>
                                    <td data-head="daily dividend">
                                        <span class="daily-dividend">$10.50</span>
                                    </td>
                                    <td data-head="amounts">
                                        <span class="amount">$0.9</span>
                                    </td>
                                    <td data-head="Deposit by">
                                        <span class="days">21 days</span>
                                    </td>
                                    <td data-head="Currency">
                                        <img src="assets/images/icons/withdraw/dollar.png" alt="icon">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="monthly" role="tabpanel" aria-labelledby="monthly-tab">
                        <div class="withdraw-table-area">
                            <table>
                                <thead>
                                <tr>
                                    <th>name</th>
                                    <th>price</th>
                                    <th>Daily Dividend</th>
                                    <th>AMOUNTs</th>
                                    <th>Deposit by</th>
                                    <th>Currency</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td data-head="name">
                                        <div class="person-details">
                                            <div class="thumb"><img src="assets/images/withdraw/t-1.png" alt="image">
                                            </div>
                                            <div class="content">
                                                <span class="name">Jim Adams</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-head="price">
                                        <span class="price">$10.50</span>
                                    </td>
                                    <td data-head="daily dividend">
                                        <span class="daily-dividend">$10.50</span>
                                    </td>
                                    <td data-head="amounts">
                                        <span class="amount">$0.9</span>
                                    </td>
                                    <td data-head="Deposit by">
                                        <span class="days">21 days</span>
                                    </td>
                                    <td data-head="Currency">
                                        <img src="assets/images/icons/withdraw/bitcoin.png" alt="icon">
                                    </td>
                                </tr>
                                <tr>
                                    <td data-head="name">
                                        <div class="person-details">
                                            <div class="thumb"><img src="assets/images/withdraw/t-2.png" alt="image">
                                            </div>
                                            <div class="content">
                                                <span class="name">Willie Barton </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-head="price">
                                        <span class="price">$10.50</span>
                                    </td>
                                    <td data-head="daily dividend">
                                        <span class="daily-dividend">$10.50</span>
                                    </td>
                                    <td data-head="amounts">
                                        <span class="amount">$0.9</span>
                                    </td>
                                    <td data-head="Deposit by">
                                        <span class="days">21 days</span>
                                    </td>
                                    <td data-head="Currency">
                                        <img src="assets/images/icons/withdraw/fire.png" alt="icon">
                                    </td>
                                </tr>
                                <tr>
                                    <td data-head="name">
                                        <div class="person-details">
                                            <div class="thumb"><img src="assets/images/withdraw/t-3.png" alt="image">
                                            </div>
                                            <div class="content">
                                                <span class="name">Kim Mccoy </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-head="price">
                                        <span class="price">$10.50</span>
                                    </td>
                                    <td data-head="daily dividend">
                                        <span class="daily-dividend">$10.50</span>
                                    </td>
                                    <td data-head="amounts">
                                        <span class="amount">$0.9</span>
                                    </td>
                                    <td data-head="Deposit by">
                                        <span class="days">21 days</span>
                                    </td>
                                    <td data-head="Currency">
                                        <img src="assets/images/icons/withdraw/bitcoin.png" alt="icon">
                                    </td>
                                </tr>
                                <tr>
                                    <td data-head="name">
                                        <div class="person-details">
                                            <div class="thumb"><img src="assets/images/withdraw/t-4.png" alt="image">
                                            </div>
                                            <div class="content">
                                                <span class="name">Sheryl Tran </span>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-head="price">
                                        <span class="price">$10.50</span>
                                    </td>
                                    <td data-head="daily dividend">
                                        <span class="daily-dividend">$10.50</span>
                                    </td>
                                    <td data-head="amounts">
                                        <span class="amount">$0.9</span>
                                    </td>
                                    <td data-head="Deposit by">
                                        <span class="days">21 days</span>
                                    </td>
                                    <td data-head="Currency">
                                        <img src="assets/images/icons/withdraw/fan.png" alt="icon">
                                    </td>
                                </tr>
                                <tr>
                                    <td data-head="name">
                                        <div class="person-details">
                                            <div class="thumb"><img src="assets/images/withdraw/t-5.png" alt="image">
                                            </div>
                                            <div class="content">
                                                <span class="name">Jim Adams</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-head="price">
                                        <span class="price">$10.50</span>
                                    </td>
                                    <td data-head="daily dividend">
                                        <span class="daily-dividend">$10.50</span>
                                    </td>
                                    <td data-head="amounts">
                                        <span class="amount">$0.9</span>
                                    </td>
                                    <td data-head="Deposit by">
                                        <span class="days">21 days</span>
                                    </td>
                                    <td data-head="Currency">
                                        <img src="assets/images/icons/withdraw/dollar.png" alt="icon">
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="btn-area text-center">
                    <a href="#0" class="btn btn-primary btn-hover text-small">browse more</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- latest-transaction-section end -->

<!-- footer-section start -->
<footer class="footer-section">
    <div class="footer-top bg_img" data-background="assets/images/footer-bg.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header text-white text-center">
                        <span class="section-subtitle">Subscribe us</span>
                        <h2 class="section-title">For Newsletter</h2>
                        <p>Join our community and Subscribe to our
                            newsletter to receive all the latest news and updates. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="subscribe-wrapper">
                        <span class="icon wow zoomIn" data-wow-duration="0.3s" data-wow-delay="0.5s"><img
                                src="assets/images/icons/subscribe.png" alt="icon"></span>
                        <form class="subscribe-form">
                            <input type="text" name="subs_name" id="subs_name" placeholder="Your Email Address">
                            <button type="submit" class="subs-btn">subscribe<span class="btn-icon"><img
                                    src="assets/images/icons/paper-plane.png" alt="icon"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-area text-center">
                        <a href="#0" class="wow zoomIn" data-wow-duration="0.3s" data-wow-delay="0.5s"><img
                                src="assets/images/buttons/google.png" alt="button"></a>
                        <a href="#0" class="wow zoomIn" data-wow-duration="0.7s" data-wow-delay="0.5s"><img
                                src="assets/images/buttons/apple.png" alt="button"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="copy-right-text text-md-left text-center mb-md-0 mb-3">1st IBA Regional Hackathon 2020. By <a href="#">CMD (Came Made Delivered) Team</a></p>
                </div>
                <div class="col-md-6">
                    <div class="card-list text-md-right text-center">
                        <a href="#0"><img src="assets/images/icons/card-options/maestro.png" alt="image"></a>
                        <a href="#0"><img src="assets/images/icons/card-options/visa.png" alt="image"></a>
                        <a href="#0"><img src="assets/images/icons/card-options/mastercard.png" alt="image"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-section end -->

<!-- scroll-to-top start -->
<div class="scroll-to-top">
    <span class="scroll-icon">
      <i class="fa fa-rocket"></i>
    </span>
</div>
<!-- scroll-to-top end -->
</body>
</html>