{% load static %}
<!-- footer-section start -->
<footer class="footer-section">
    <div class="footer-top bg_img" data-background="{% static 'assets/images/footer-bg.png' %}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section-header text-white text-center">
                        <span class="section-subtitle">Subscribe us</span>
                        <h2 class="section-title">For Newsletter</h2>
                        <p>Join our community and Subscribe to our
                            newsletter to receive all the latest news and updates. </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="subscribe-wrapper">
                        <span class="icon wow zoomIn" data-wow-duration="0.3s" data-wow-delay="0.5s"><img
                                src="{% static 'assets/images/icons/subscribe.png' %}" alt="icon"></span>
                        <form class="subscribe-form">
                            <input type="text" name="subs_name" id="subs_name" placeholder="Your Email Address">
                            <button type="submit" class="subs-btn">subscribe<span class="btn-icon"><img
                                    src="{% static 'assets/images/icons/paper-plane.png' %}" alt="icon"></span></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="btn-area text-center">
                        <a href="#0" class="wow zoomIn" data-wow-duration="0.3s" data-wow-delay="0.5s"><img
                                src="{% static 'assets/images/buttons/google.png' %}" alt="button"></a>
                        <a href="#0" class="wow zoomIn" data-wow-duration="0.7s" data-wow-delay="0.5s"><img
                                src="{% static 'assets/images/buttons/apple.png' %}" alt="button"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <p class="copy-right-text text-md-left text-center mb-md-0 mb-3">1st IBA Regional Hackathon 2020. By <a href="#">CMD (Came Made Delivered) Team</a></p>
                </div>
                <div class="col-md-6">
                    <div class="card-list text-md-right text-center">
                        <a href="#0"><img src="{% static 'assets/images/icons/card-options/maestro.png' %}" alt="image"></a>
                        <a href="#0"><img src="{% static 'assets/images/icons/card-options/visa.png' %}" alt="image"></a>
                        <a href="#0"><img src="{% static 'assets/images/icons/card-options/mastercard.png' %}" alt="image"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- footer-section end -->