{% load static %}

<script src={% static "assets/js/jquery-3.3.1.min.js" %}></script>
<script src={% static "assets/js/bootstrap.min.js" %}></script>
<script src={% static "assets/js/jquery.nice-select.js" %}></script>
<script src={% static "assets/js/lightcase.js" %}></script>
<script src={% static "assets/js/owl.carousel.min.js" %}></script>
<script src={% static "assets/js/jquery-ui.min.js" %}></script>
<script src={% static "assets/js/wow.min.js" %}></script>
<script src={% static "assets/js/jquery.waypoints.min.js" %}></script>
<script src={% static "assets/js/jquery.countup.min.js" %}></script>
<script src={% static "assets/js/jquery.paroller.min.js" %}></script>
<script src={% static "assets/js/main.js" %}></script>
<script src={% static "assets/js/script.js" %}></script>